<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container justify-content-center"> <button class="navbar-toggler navbar-toggler-right border-0" type="button"
            data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse">
                <a class="navbar-brand text-primary d-none d-md-block">
                    <i class="fa d-inline fa-lg fa-circle"></i>
                    <b> BBIKE Driver</b>
                </a>
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link text-primary" href="/">ออกจากระบบ</a> </li>
                </ul>
            </div>
    </div>
</nav>