<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/theme.css" type="text/css">
  <link rel="stylesheet" href="css/collapsible-drawers.css" type="text/css">



  <title>BBike</title>
</head>

<body>

  <div class="py-5 align-items-center d-flex text-center filter-light section-parallax" style="background-image: url(&quot;image/bangkok.jpg&quot;); min-height: 100%;	">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="mb-4 display-1 text-primary"><b>B Bike</b></h1>
          <p class="lead mb-4"><i>ส่งด่วนทั่วกรุงเทพฯ และ ปริมณฑล <br>ส่งเร็ว ตรงเวลา หมดกังวลในการขนส่ง</i></p>
          <a class="btn btn-lg mx-1 btn-outline-primary text-dark" href="#step">วิธีเรียกใช้&nbsp;<b><span style="font-weight: normal;">BBike</span></b>&nbsp;<br></a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center filter-light">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h2><b>บริการของ B Bike</b></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-12 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded" src="image/icon/delivery.png"
            width="100" alt="Card image cap">
          <h4>ส่งของด่วน พร้อม เก็บเงินปลายทาง</h4>
          <p class="mb-0"><i>"ถึงไว หายห่วง"</i></p>
        </div>
        <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded" src="image/icon/fork.png"
            width="100">
          <h4>จัดส่งอาหาร</h4>
          <p class="mb-0"> <i>"เสิรฟ์ร้อน ถึงไว"</i></p>
        </div>
        <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded" src="image/icon/document.png"
            width="100">
          <h4>เดินเอกสาร วางบิล</h4>
          <p class="mb-0"><i>"รู้งาน รวดเร็ว"</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded" src="image/icon/shopping.png"
            width="100">
          <h4> <b>ฝากซื้อ ฝากส่ง</b></h4>
          <p class="mb-0"><i>"ถึงไว ทันใจ"</i></p>
        </div>
        <div class="col-lg-6 col-12 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded" src="image/icon/shield.png"
            width="100">
          <h4>ประกันระหว่างขนส่งสูงสุดถึง 2000 บาท</h4>
          <p class="mb-0"><i>"ปลอดภัย ไว้ใจได้"</i></p>
        </div>

      </div>
    </div>
  </div>
  <div class="py-5 text-center filter-light" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, 0.75), rgba(44, 62, 80, 0.75)); background-size: 100%;"
    id="step">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6">
          <h1>3 ขั้นตอนในการเรียกใช้งานง่ายๆ</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center d-flex align-items-center" style="min-height: 60%;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12 p-3 px-2"> <img class="img-fluid d-block mx-auto" src="image/icon/map.png">
          <h2 class="my-3">1. ระบุเส้นทางที่คุณต้องการ</h2>
          <p>ระบุเส้นทางที่คุณต้องการ ให้เราบริการ</p>
        </div>
        <div class="col-md-4 col-12 p-3 px-2"> <img class="img-fluid d-block mx-auto" src="image/icon/choices.png">
          <h2 class="my-3"> <b>2. เลือกบริการ</b></h2>
          <p>เลือกบริการตามที่คุณต้องการ</p>
          <p>(ส่งพัสดุ ส่งอาหาร เอกสารทั่วไป ฝากซื้อฝากส่ง)</p>
        </div>
        <div class="col-md-4 p-3 px-2"> <img class="img-fluid d-block mx-auto" src="image/icon/order.png">
          <h2 class="my-3"> <b>3. สรุปผลการสั่งงาน</b></h2>
          <p>ระบุรายละเอียดงาน ยืนยันการสั่งงานและเราจะติดต่อมาในไม่กี่นาที</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><a class="btn btn-lg btn-outline-primary" href="/map">เรียก BBike ผ่านเว็บเลย</a></div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center" style="background-color: #243141; background-size: 100%;">
    <!-- style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;" -->
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6">
          <div class="text-light">
            <h1>Track & Tracep</h1>
            <p class="">ติดตามการส่งของท่าน</p>
          </div>


          <form class="form-inline d-flex justify-content-center" method="POST">
            <div class="input-group"> <input type="text" class="form-control" placeholder="รหัสในการบริการ" name="idTracking">
              <div class="input-group-append"> <button class="btn btn-primary" type="submit">ติดตาม</button> </div>
            </div>
            <p class="text-danger">
              <%= error %>
            </p>
            <p class="mt-4 text-warning">หากมีปัญหาหรือจำรหัสในการบริการไม่ได้ <a href="#contact" class="text-danger">กรุณาแจ้งเจ้าหน้าที่ตามที่อยู่ด้านล่าง</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center filter-light section-parallax" style="background-image:url(image/cover.jpg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container " style="background-image: linear-gradient(to bottom, rgba(36, 49, 65, 0.23), rgba(36, 49, 65, 0.62))">
      <div class="row">
        <div class="col-md-12 mt-4">
          <h2 class="text-body">ค่าบริการพื้นฐาน </h2>
        </div>
      </div>
      <div class="row p-4">
        <div class="col-md-6 p-0">
          <div class="card py-2">
            <div class="card-body p-4">
              <h1 class="text-body"><b>Start</b></h1>
              <h3 class="text-body">เริ่มต้นที่ <b>46</b> บาท</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0 py-2">
          <div class="card border-0 rounded-0" style="	background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <div class="card-body p-4">
              <h3 class="text-body">1 - 30 Km</h3>
              <h2 class="my-3 text-body"><b>7.2 Baht&nbsp;</b><sub>/Km</sub></h2>
              <h3 class="text-body">&gt; 30 Km</h3>
              <h2 class="my-3 text-body"><b>14 Baht </b>/Km</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-image: linear-gradient(to bottom, #f0f0f0, #ffffff); background-position:right center; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="p-5 col-lg-12">
          <h1>คำถามที่พบบ่อย</h1>
          <hr>
          <form>
            <div class="row">
              <div class="col-lg-6">
                <div class="wrap">
                  <div class="collapsible_drawers ">
                    <p style="margin-bottom: 40px; font-size: 18px;"> สามารถขนส่งสินค้าได้ที่ไหนบ้าง?</p>
                    <p>ปัจจุบัน BBike สามารถให้บริการขนส่งสินค้าในเขตกรุงเทพฯ และปริมณฑล</p>
                  </div><br>
                  <div class="collapsible_drawers ">
                    <p style="margin-bottom: 40px; font-size: 18px;">สามารถใช้บริการ BBike ได้ในช่วงเวลาไหนบ้าง?</p>
                    <p>BBike ให้บริการตลอดตั้งแต่เวลา 06.00 น. - 20.00 น.
                      ให้คุณสามารถใช้บริการขนส่งตอนไหนก็ได้ตามความต้องการ</p>
                  </div><br>
                  <div class="collapsible_drawers ">
                    <p style="margin-bottom: 40px; font-size: 18px;">BBike สามารถขนส่งสินค้าขนาดไหนได้บ้าง?</p>
                    <p>สามารถขนส่งสินค้าขนาดไม่เกิน 20 กก. หรือ 50x50x80 ซม.</p>
                  </div>
                </div>
              </div>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3 text-light" style="background-color: #243141" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-md-8 text-center mt-1">
          <hr style="background-color: #ffffff">
          <p>Bangkok, Thailand&nbsp;&nbsp;</p>
          <p>เบอร์โทรศัพท์ : 054-8475632</p>
          <p>Facebook : BBike</p>
          <p>Line : @BBike</p>
          <p class="mb-0"> <a href="mailto:info@bbink.com">info@bbink.com</a> </p>
          <hr style="background-color: #ffffff">
        </div>
        <div class="col-md-4">
          <h5 class="mb-3 pt-3 text-right">เข้าสู่ระบบสำหรับพนักงาน</h5>
          <p>Password สำหรับฝ่าย Customer Service <b>[Employee ID: CS001, Password: 000000]</b></p>
          <p>Password สำหรับฝ่าย Driver <b>[Employee ID: DV001, Password: 111111]</b></p>

          <form id="loginEmployee" method="POST">
            <div class="form-group"> <input type="text" class="form-control" placeholder="Employee ID" name="IDEmployee">
            </div>
            <div class="form-group mb-3"> <input type="password" class="form-control" placeholder="Password" name="PasswordEmployee">
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
            </div>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
            <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
          </a> </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2018 Bbike. All rights reserved</p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2018 Bbike. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script src="js/smooth-scroll.js"></script>

  <script>
    $('.collapsible_drawers').on('click', function (e) {
      e.preventDefault();
      $(this).toggleClass('active');
    });
  </script>
</body>

</html>