.wrap{
  width:100%;
  margin:0 auto;
}
.collapsible_drawers {
  background-color: rgba(255,255,255,0);
  border-bottom: 2px solid #eee;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin:0px;
  max-height:45px;
  overflow:hidden;
  transition: all 0.4s;
}
.collapsible_drawers * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
.collapsible_drawers.active {
   background-color: rgba(255,255,255,0.9);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  z-index: 200;
  color:#444;
  max-height:3000px;
  padding:10px 20px;
  margin: 10px -10px;
  transition: all 0.2s,max-height 4.8s;
}
.collapsible_drawers p {
  line-height: 20px;
  position:relative
}
.slide{
  box-shadow:none !important;
  margin:0px !important;
  padding:10px !important
}
.transparent{
  background-color: rgba(255,255,255,0) !important;
  color:#fff !important;
  box-shadow:none !important;
  margin:0px !important;
  padding:10px !important
}
